.bg{
	position: relative;
	overflow: hidden;
	width: 640px;
	height: 481px;
	margin: 0 auto;
	background: url(../images/bg.jpg);
}
.lib{
	position: relative;
	margin: 0 auto;
	margin-top: 190px;
	margin-bottom: 1px;
	width: 262px;
	height: 94px;
}
.whole{
	height: 94px;
	background: url(../images/whole.png);
}
@-webkit-keyframes award{
	0{
		-webkit-transform: rotate(0);
	}
	28.5714%{
		-webkit-transform: rotate(0);
	}
	42.8571%{
		-webkit-transform: rotate(-8deg);
		-webkit-transform-origin: -5% 100%;
	}
	57.1428%{
		-webkit-transform: rotate(8deg);
		-webkit-transform-origin: 100% 95%;
	}
	71.5285%{
		-webkit-transform: rotate(-8deg);
		-webkit-transform-origin: -5% 100%;
	}
	85.7143%{
		-webkit-transform: rotate(8deg);
		-webkit-transform-origin: 100% 95%;
	}
	100%{
		-webkit-transform: rotate(0);
	}
}
.award-animation .whole{
	-webkit-animation: award .6s;
}
.left{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 131px;
	height: 94px;
	background: url(../images/left.png);
}
.right{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 131px;
	height: 94px;
	background: url(../images/right.png);
}
@-webkit-keyframes left{
	0{
		opacity: 1;
	}
	100%{
		-webkit-transform-origin: 0 100%;
		-webkit-transform: rotate(-135deg);
		opacity: 0;
	}
}
@-webkit-keyframes right{
	0{
		opacity: 1;
	}
	100%{
		-webkit-transform-origin: 100% 100%;
		-webkit-transform: rotate(135deg);
		opacity: 0;
	}
}
.award-animation .left{
	-webkit-animation: left .8s;
}
.award-animation .right{
	-webkit-animation: right .8s;
}
.can{
	margin: 0 auto;
	width: 242px;
	height: 176px;
	background: url(../images/bottom.jpg);
}
.alert{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.9);
	opacity: 0;
	-webkit-transform: scale(0);
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.alert.active{
	opacity: 1;
	-webkit-transform: scale(1);
}